@tailwind base;
@tailwind components;
@tailwind utilities;

.text-maincolor {
  color: rgb(78 103 235);
}
.border-maincolor {
  border: 1px solid rgb(78 103 235);
}
.bg-maincolor {
  background-color: rgb(78 103 235);
}
.bg-ofwhitecolor {
  background-color: #f0f4ff;
}

/* AnimatedCursor.css */

.cursor-circle {
  cursor: url(https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png)
      39 39,
    auto;
}
